<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Elétrica
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>

    <ion-card >
        <ion-card-header>
            <ion-img src="./assets/img/icon_eletrica.jpg"></ion-img>          
          <ion-card-title>Manutenções elétricas</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Responsável por instalar, fazer manutenção e reparar fiação elétrica em equipamentos elétricos e eletrônicos.
        </ion-card-content>

        <ion-button routerLink="/pg-pesquisar">Localizar</ion-button>

      </ion-card>

</ion-content>
