<ion-header>
  <ion-toolbar>
    <ion-title>Cadastrado com Sucesso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <img src="/Ubico/src/assets/img/BemVindo.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Cadastrado com sucesso</ion-card-subtitle>
          <ion-card-title>SEJA EM VINDO</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Parabens, Você acaba de se cadastrar com sucesso no UBICO.
           Ja pode começar a fazer ofertas de serviços e selecionar o profissinal 
           que ira lhe ajudar com seu pequeno serviço.
        </ion-card-content>
      </ion-card>
   
</ion-content>
