<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/img/LogoUbico.png" alt="" />
      <ion-card-header>
        <ion-card-subtitle>olá</ion-card-subtitle>
        <ion-card-title>Bem vindo ao Ubico</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Neste app você tera  opção de contratar 
          alguem para efetuar um serviço em sua casa
           com a praticidade de não sai de sua residencia 
           e a segurança de que o serviço sera efetuado por
            um profissional, toda parte finacera sera efetuado pelo
             aplicativo.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Selecione o seu tipo de Serviço</ion-label>
      </ion-list-header>
      <ion-item href="https://ionicframework.com/docs/">
        <ion-icon slot="start" color="medium" name="md-flash"></ion-icon>
        <ion-label>Elétrica</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="md-git-branch"></ion-icon>
        <ion-label>Eletrônica</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="md-desktop"></ion-icon>
        <ion-label>Informatica</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="md-search"></ion-icon>
        <ion-label>Procurar profissional</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
